


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; /* Considerar borda como tamanho total */
}


body {
  background-color: #f6f8fc;
}


.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem; /* rem é baseado no tamanho da fonte 'M'. Se no brower da pessoa a fonte for maior, o espaçamento vai ser maior e vice-versa. Vai ficar mais bonitin */
  background-color: #fff;
  
}


@media screen and (min-width: 992px){
  .content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}