


.content h1 {
  margin: 0;
}

.normal {
  background: linear-gradient(to bottom, #a6a877, #7e7e58);
}

.grass{
  background: linear-gradient(to bottom, #77c850, #387c34)

}

.fire {
  background: linear-gradient(to bottom, #ee7f30, #d06030);
}

.water {
  background: linear-gradient(to bottom, #678fee, #3b5998);
}

.electric {
  background: linear-gradient(to bottom, #f7cf2e, #f3a611);
}

.ice {
  background: linear-gradient(to bottom, #98d5d7, #5eb3b4);
}

.ground {
  background: linear-gradient(to bottom, #dfbf69, #b0974a);
}

.flying {
  background: linear-gradient(to bottom, #a98ff0, #6d5db6);
}

.poison {
  background: linear-gradient(to bottom, #a040a0, #702c70);
}

.fighting {
  background: linear-gradient(to bottom, #bf3029, #8b1f1a);
}

.psychic {
  background: linear-gradient(to bottom, #f65687, #d93b66);
}

.dark {
  background: linear-gradient(to bottom, #725847, #504032);
}

.rock {
  background: linear-gradient(to bottom, #b8a137, #7a6c23);
}

.bug {
  background: linear-gradient(to bottom, #a8b720, #6c7a2c);
}

.ghost {
  background: linear-gradient(to bottom, #6e5896, #463455);
}

.steel {
  background: linear-gradient(to bottom, #b9b7cf, #848396);
}

.dragon {
  background: linear-gradient(to bottom, #6f38f6, #4329b3);
}

.fairy {
  background: linear-gradient(to bottom, #f9aec7, #e173a3);
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid; /* Estilo da lista como uma TABELA */
  grid-template-columns: 1fr; /* No template de colunas, ele vai ter 2 colunas e cada uma vai ocupar uma fração (50%, 50%) */
}


@media screen and (min-width: 380px){
  .pokemons{
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (min-width: 576px){
  .pokemons{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 992px){
  .pokemons{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.pokemon {
  margin: 0.5rem;
  padding: 2rem 1rem;
  border-radius: 1rem; /* Borda da lista */
  display: flex;
  flex-direction: column; /* column define um embaixo do outro! row = define um na frente do outro */
}


.pokemon .number{
  color: #000;
  text-align: right;
  opacity: 0.3;
  font-size: 0.625rem;
}


.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}


.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}


.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  margin: 0.25rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;

}


.pokemon .detail img{
  max-width: 100%;
  height: 95px; /* 100px? */
  align-self: flex-end;
  filter: brightness(0.8);
}


.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}


.pagination button {
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 0.850rem 0.850rem;
  margin: 0.25rem 0;
  font-size: 1rem;

}
